@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

// RESET DEFAULT
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #737373;
}

// VARIABLES
$border-color: rgb(214, 214, 214);
$border-radius: 0.3125rem;
$color-primary: #0275d8;
$color-primary-hover: #0274d8d2;
$cursor: pointer;
$main-bg: #f1f1f1;
$box-shadow: 0px 0px 10px -5px rgba(
    $color: #000000,
    $alpha: 0.5,
  );

html {
  font-family: "Poppins", sans-serif;
  background: $main-bg;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

// TYPOGRAPHY
@import "partials/typography";

// BUTTONS
@import "partials/buttons";

// FORM
@import "partials/form";

// COMPONENTS
@import "partials/components/top-nav";

// VIEWS
@import "partials/views/dashboard";
